body {
    background-color: lightgray ;
    font-family: 'Marker Felt', fantasy;
}

section {
    margin: 20px auto;
    text-align: center;
}

section div img {
    border: 10px solid darkgray;
}

nav {
    text-align: center;
    margin: auto;
}

.navBtn {
    border: 1px solid darkblue;
    height: 2vh;
    width: 4vw;
    background-color: darkgrey;
    text-decoration: none;
    font-family: "Marker Felt", fantasy;
}

a {
    color: darkblue;
}

.bio {
    display: block;
    text-align: center;
}

.bio div {
    margin: 500px;
    display: block;
    text-align: justify;
    position: relative;
    bottom: 450px;
}

.goals {
    display: block;
    text-align: center;
}

.goals ul {
    padding-left: 0;
    list-style-position: inside;
}

.interests .paragraph {
    margin: 500px;
    text-align: justify;
    position: relative;
    bottom: 450px
}

.hobbies {
    position: relative;
    bottom: 900px;
}

.hobbies .paragraph {
    margin: 500px;
    text-align: justify;
    position: relative;
    bottom: 450px;
}
